.btn-primary {
  background-color: #27b9bd !important;
  border-color: #27b9bd !important;
}

.btn-primary:hover {
  background-color: #008da1 !important;
  border-color: #008da1 !important;
}

.btn-outline-primary {
  color: #27b9bd !important;
  border-color: #27b9bd !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  border-color: #008da1 !important;
  background-color: #008da1 !important;
}
